<% layout('./public/layout') %>
    <div class="row">

        <div class="col-lg-6 col-md-offset-3">
            <form method="post">
                <h1>Agregar Categoria de Empleo</h1>

                <div class="form-group">
                    <label> Categoria </label>
                    <input type="text" name="category" class="form-control" required="true" />
                </div>

                <button type="submit" class="btn btn-success">Agregar Categoria </button>
            </form>

        </div>
    </div>
