-
<% layout('./public/layout') %>


        <div class="container padding 2000px ">
            <h2>Listado de Empleos </h2>

            <a class="btn btn-default" href="/addPermission" role="button">Agregar Permiso &raquo;</a>
            <button class="btn btn-danger" type="button" id="removePermission"> Eliminar Permisos </button>
            <a class="btn btn-default" href="/return" role="button">Regresar Pagina Anterior &raquo;</a>
        </div>
