<% layout('./public/layout') %>
    <div class="row">

        <div class="col-lg-6 col-md-offset-3">
            <form method="post">
                <h1>Agregar Permisos de Usuarios </h1>

                <div class="form-group">
                    <label> Permiso </label>
                    <input type="text" name="permission" class="form-control" required="true" />
                </div>

                <button type="submit" class="btn btn-success">Agregar Permiso </button>
                <a class="btn btn-default" href="/return" role="button">Regresar Pagina Anterior &raquo;</a>
            </form>

        </div>
    </div>
